body {
    font-family: 'Nunito', sans-serif;
    background-color: red;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

img.logo {
    margin-left: 5px;
    transform: translateY(-7px);
}



