body {
    font-family: 'Nunito', sans-serif;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

img.logo {
    margin-left: 5px;
    transform: translateY(-7px);
}


.mult-slider img{
    width: 150px;
    height: 150px;
}

.slider-for{
    margin-top:20px;
}



